*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("https://onecinemas.com.np/Templates/OneCinemas/images/One%20Cinema%20PatternTop.svg");
    background-size:cover;
    
} 
.movie-container{
  padding: 20px;
    width: 90%;
    /* height: 70%; */
    border: 5px solid rgba(255,255,255,0.4);
    background:none;
    backdrop-filter: blur(10px);
    display: grid;
  grid-template-columns: 2fr 1fr;
    /* position: relative; */
    box-shadow: 0 50px 55px -10px #000;
}
img{
    /* right: 5%; */
    /* width: 30%; */
  
    height: auto; 
}
.title{
    /* position: absolute; */
    color:#fff;
    padding: 10px auto;
    font-size: 4em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.dis{
    /* position: absolute; */
    top: 220px;
    padding: 10px auto;
    color: #f1f1f1;
    font-size: 16px;
    font-family: sans-serif;
}
